@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #111;
}
body {
    min-height: 100vh;
    width: 100%;
    font-family: Pretendard, 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #111;
    overflow-x: hidden;
    box-sizing: border-box, content-box;
}
html {
    font-size: 62.5%;
}
.image {
    width: 12rem;
}
.item {
    font-size: 1.6rem;
}
/* ▲ 기본셋팅 ▲ */
.pop {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 20;
}
.pop img {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.753) 0px 0px 4px;
}
/* ▲ pop ▲ */
#nav {
    position: fixed;
    top: -11rem;
    width: 100%;
    transition: 0.5s;
}
#contents {
    width: 100%;
    transition: 0.5s;
    z-index: -1;
}
/* ▲ 휠반응 헤더 ▲ */
header {
    width: 100%;
    position: relative;
    background: #fff;
    border-bottom: 0.5rem solid rgba(100, 100, 100, 0.1);
    z-index: 1;
}
header .menu #minimenu {
    display: none;
    width: 10rem;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    background: url(../images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
}
#minilnb {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 11.5rem;
    z-index: 15;
    border-bottom: 0.5rem solid rgb(233, 233, 233);
    transition: 0.1s;
}

#minilnb > ul > li > a {
    display: block;
    width: 100%;
    line-height: 6rem;
    text-align: center;
    background: #fff;
    z-index: 10;
}
header .menu {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
header .menu > ul {
    width: 100%;
    height: 100%;
    height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu > ul > a {
    width: 10rem;
    height: 100%;
    margin-left: 5.2rem;
}
header .menu > ul > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header .menu > ul > li {
    width: 100%;
    margin-left: 3.2rem;
}
header .menu ul li ul {
    display: flex;
    justify-content: space-between;
}
header .menu ul li ul li {
    flex: 1 1 20%;
    text-align: center;
    line-height: 11rem;
}
header .menu ul li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
}
header .menu ul li:nth-child(1) a {
    padding-left: 15%;
    box-sizing: border-box;
}
header .menu ul li:nth-child(5) a {
    padding-right: 15%;
    box-sizing: border-box;
}
header .menu ul li a:hover::after,
header .menu ul li a.active::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 1rem solid gold;
    border-left: 0.9rem solid transparent;
    border-right: 0.9rem solid transparent;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
header .submenu {
    position: absolute;
    height: 0;
    width: 100%;
    left: 0;
    top: 11rem;
    overflow: hidden;
}
header:hover .submenu::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: gold;
    z-index: 3;
}
header:hover .submenu::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(247, 247, 247) 50%, #fff 50%);
    border-bottom: 0.1rem solid rgb(230, 230, 230);
    box-sizing: border-box;
}
header .submenu .lnb {
    width: 100%;
    margin: 0 auto;
}
header .submenu .lnb > ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #fff;
    z-index: 3;
}
header .submenu .lnb > ul > li {
    flex: 1 1 20%;
    line-height: 2.4rem;
    padding: 3.6rem 2.4rem;
    border-left: 0.1rem solid rgb(240, 240, 240);
    border-bottom: 0.1rem solid rgb(230, 230, 230);
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    box-sizing: border-box;
}

header .submenu .lnb > ul > li:first-child {
    background: rgb(247, 247, 247);
}
header .submenu .lnb > ul > li a {
    font-size: 1.6rem;
}

header .submenu .lnb > ul > li > ul > li:nth-child(2) {
    padding-top: 1rem;
}
header .submenu .lnb > ul > li:nth-child(1) {
    border-left: none;
    padding-left: 3.2rem;
    box-sizing: border-box;
}
header .submenu .lnb > ul > li:nth-child(2) {
    font-size: 1.8rem;
}
header .submenu .lnb > ul > li a:hover {
    text-decoration: underline;
}
.lnb_button {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 3.2rem;
}
.lnb_button > button {
    position: relative;
    border-radius: 0.1rem;
    border: 1px solid;
    height: 3.6rem;
    text-align: left;
    padding-left: 10%;
    cursor: pointer;
    box-sizing: border-box;
}
.lnb_button > button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 0.5rem solid;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}
.lnb_button > button:first-child {
    border-color: green;
    color: green;
}
.lnb_button > button:first-child::after {
    border-left-color: green;
}
.lnb_button > button:first-child:hover {
    background: green;
    color: #fff;
}
.lnb_button > button:first-child:hover::after {
    border-left-color: #fff;
}
.lnb_button > button:nth-child(2) {
    border-color: orange;
    color: orange;
}
.lnb_button > button:nth-child(2)::after {
    border-left-color: orange;
}
.lnb_button > button:hover:nth-child(2) {
    background: orange;
    color: #fff;
}
.lnb_button > button:nth-child(2):hover::after {
    border-left-color: #fff;
}
.lnb_button > button:nth-child(3) {
    border-color: rgb(202, 70, 18);
    color: rgb(202, 70, 18);
}
.lnb_button > button:nth-child(3)::after {
    border-left-color: rgb(202, 70, 18);
}
.lnb_button > button:nth-child(3):hover {
    background: rgb(202, 70, 18);
    color: #fff;
}
.lnb_button > button:nth-child(3):hover::after {
    border-left-color: #fff;
}
/* ▲ 네비게이션 ▲ */
main .banner {
    width: 100%;
    height: 58rem;
    background: seagreen;
    overflow: hidden;
}
main .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ▲ 배너 ▲ */
h1.title {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
}
h1.title span {
    border-bottom: 0.1rem solid transparent;
    transition: all 0.2s ease;
}

h1.title:hover span {
    border-bottom: 0.1rem solid #111;
}

h1.title span:first-child {
    font-weight: 300;
}
h2 {
    font-size: 4.8rem;
    font-weight: 400;
}
/* ▲ h제목 태그 ▲ */
section.second {
    width: 100%;
    margin-top: 6.4rem;
}
/* ▲ section  ▲ */
.swiper2 {
    position: relative;
    width: 100%;
    height: 80rem;
    margin-top: 2rem;
    overflow: hidden;
    z-index: 0;
}

.swiper2 > .swiper-wrapper > .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 3.2rem;
    box-sizing: border-box;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.swiper-pagination2 {
    position: absolute;
    text-align: center;
    line-height: 100px;
    transform: scale(1.5);
    transform-origin: center;
    z-index: 2;
}
.swiper-button-prev {
    position: absolute;
    margin-left: 2rem;
    width: 27px;
    height: 43px;
    background: url(../images/btns.png);
    box-sizing: border-box;
}
.swiper-button-next {
    position: absolute;
    margin-right: 2rem;
    width: 27px;
    height: 43px;
    background: url(../images/btns.png);
    background-position: -30px 0;
    box-sizing: border-box;
}

/* ▲  슬라이드 ▲ */
.third,
.fourth {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.third > .wrap,
.fourth > .wrap {
    width: 100%;
    height: 40rem;
    display: flex;
    margin: 6.4rem auto;
    gap: 3.2rem;
    padding: 0 3.2rem;
    box-sizing: border-box;
    transition: 0.5s;
}
.third h2,
.fourth h2 {
    margin-bottom: 2.4rem;
    box-sizing: border-box;
    font-size: 4.2rem;
}
.photo {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}
.photo:hover img {
    left: 0;
    top: 0;
    transform: scale(1.1);
}
.photo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
.txt {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 40rem;
    justify-content: space-between;
}
.txt p {
    line-height: 2.6rem;
    width: fit-content;
}

/* ▲  section third ▲ */
button {
    margin: 2rem;
    outline: none;
}
button > span {
    font-weight: 500;
}
.custom-btn {
    width: 25rem;
    height: 6rem;
    padding: 1rem 2.5rem;
    border: 0.2rem solid #000;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}
.btn-3 {
    line-height: 5.9rem;
    padding: 0;
}
.btn-3:hover {
    background: transparent;
    color: #000;
}
.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-3:before,
.btn-3:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: rgb(34, 160, 209);
    transition: all 0.3s ease;
}
.btn-3:before {
    height: 0%;
    width: 0.3rem;
}
.btn-3:after {
    width: 0%;
    height: 0.3rem;
}
.btn-3:hover:before {
    height: 100%;
}
.btn-3:hover:after {
    width: 100%;
}
.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    background: rgb(34, 160, 209);
    transition: all 0.3s ease;
}
.btn-3 span:before {
    width: 0.3rem;
    height: 0%;
}
.btn-3 span:after {
    width: 0%;
    height: 0.3rem;
}
.btn-3 span:hover:before {
    height: 100%;
}
.btn-3 span:hover:after {
    width: 100%;
}
.smallbtn {
    width: 17rem;
}
/* btn3 */
section.fifth {
    width: 100%;
    padding: 6.4rem 0;
    background: rgb(247, 247, 247) 50%;
    box-sizing: border-box;
}
section.fifth .frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3.2rem;
    margin: 3.2rem auto;
    gap: 1.6rem;
    box-sizing: border-box;
}
section.fifth .frame .square__wrap {
    flex: 1 1 20%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}
section.fifth .frame .square__wrap .square {
    position: relative;
    width: 100%;
    height: 44.575rem;
    max-height: 100%;
    background: #b2def0;
    overflow: hidden;
    border-radius: 0.5rem;
}
section.fifth .frame .square__wrap .square img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 95%;
    object-position: center top;
    object-fit: cover;
}
section.fifth .frame .square__wrap p {
    text-align: center;
    font-size: 1.6rem;
}
.frame > div.square__wrap:hover > div.square > img {
    transform: scale(1.03);
    transition: 0.5s;
}
.frame > div.square__wrap:hover > div.square > img {
    filter: drop-shadow(0.1rem 0.3rem 2.3rem rgba(0, 0, 0, 0.3));
}
/* section fifth */
section.sixth {
    width: 100%;
    margin: 0 auto;
}
section.sixth .hover {
    height: 100%;
    margin: 6.4rem auto;
    padding: 3.2rem;
    box-sizing: border-box;
}
section.sixth .hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hover figure {
    position: relative;
}
.hover figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.hover figure:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/* section sixth */
section.seventh {
    position: relative;
    width: 100%;
    height: 100%;
}
section.seventh > .container {
    padding: 0 3.2rem;
    box-sizing: border-box;
}
section.seventh > .container > .wrap {
    width: 100%;
    margin: 0 auto;
    padding: 6.4rem 0 1.6rem 0;
    box-sizing: border-box;
}
section.seventh::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 26rem;
    background: rgb(34, 160, 209);
    z-index: -1;
}
section.seventh h1 {
    font-size: 4.2rem;
    color: #fff;
    padding-bottom: 3.2rem;
}
.swiper {
    width: 100%;
    height: 30rem;
    margin-bottom: 6.4rem;
    box-sizing: border-box;
}
.swiper-slide {
    width: 55.2rem;
    height: 40rem;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    box-sizing: border-box;
    border: 2px solid #eee;
}
.swiper-slide > div {
    display: flex;
    width: 100%;
    gap: 1.6rem;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    padding-bottom: 1.6rem;
}
.swiper-slide > div h3 {
    color: navy;
}
.swiper-slide > p {
    line-height: 3.2rem;
    text-align: left;
}
.swiper-slide > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
.person {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    overflow: hidden;
}
.person img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* section seventh */
footer {
    width: 100%;
    background: #4a4a4a;
}
footer .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 3.2rem;
    box-sizing: border-box;
}
footer .logo {
    width: 10rem;
    height: 100%;
    text-align: center;
}
footer .logo img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}
footer .wrap {
    font-size: 1.3rem;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
}
footer a,
footer li {
    color: #fff;
}
.footmenu_l {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}
.footmenu_l > li > a::after {
    content: ' |';
}
.footmenu_l > li > a:last-of-type:after {
    content: '';
}
.footmenu_r li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.6rem;
}
.footmenu_r li a {
    display: block;
    width: 100%;
}
/* footer  */
@media screen and (max-width: 1599px) {
    header {
        width: 100%;
        height: 11rem;
    }
    #content {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    section.fifth .frame .square__wrap .square {
        height: 36.75rem;
    }
}
@media screen and (max-width: 1499px) {
    header {
        width: 100%;
        height: 11rem;
    }
    #content {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    section.fifth .frame .square__wrap .square {
        height: 34.25rem;
    }
}

@media screen and (max-width: 1279px) {
    header {
        width: 100%;
        height: 11rem;
    }
    #content {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    section.fifth .frame .square__wrap .square {
        height: 28.75rem;
    }
}
@media screen and (max-width: 1023px) {
    header {
        width: 100%;
        height: 11rem;
    }

    #content {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    section.fifth .frame .square__wrap .square {
        height: 22.35rem;
    }
}
@media screen and (max-width: 779px) {
    header {
        width: 100%;
        height: 11rem;
    }
    #content {
        width: 100%;
    }
    footer {
        width: 100%;
    }

    .lnb_button > button {
        width: 10rem;
    }
    .lnb_button > button::after {
        right: 10%;
    }
    section.fifth .frame .square__wrap .square {
        height: 16.25rem;
    }

    footer .footmenu_r {
        display: none;
    }
    .swiper-slide > p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
}
@media screen and (max-width: 639px) {
    header {
        width: 100%;
        height: 11rem;
    }
    #content {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    .swiper2 {
        height: 50rem;
        transition: 1s;
    }
    header .menu #minimenu {
        display: block;
    }
    header .menu ul li {
        display: none;
    }
    header .menu > ul > a {
        margin-left: 3.2rem;
    }
    .third h2,
    .fourth h2 {
        margin-bottom: 1rem;
    }
    .third > .wrap,
    .fourth > .wrap {
        height: 90rem;
    }
    .third > .wrap {
        flex-direction: column;
    }
    .fourth > .wrap {
        flex-direction: column-reverse;
    }

    section.fifth .frame .square__wrap {
        flex: 1 1 40%;
    }
    section.fifth .frame .square__wrap .square {
        height: 27.1rem;
    }
    footer .container {
        justify-content: left;
    }
    .footmenu_l {
        width: 100%;
        justify-content: left;
    }
    footer .logo {
        display: none;
    }
    footer .wrap {
        width: 100%;
        padding: 0;
    }
    footer .footmenu_r {
        display: none;
    }
}
@media screen and (max-width: 479px) {
    header .menu #minimenu {
        display: block;
    }
    .third h2,
    .fourth h2 {
        margin-bottom: 1rem;
    }
    .third > .wrap,
    .fourth > .wrap {
        height: 80rem;
    }
    header {
        width: 100%;
        height: 11rem;
    }
    #content {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    section.first header a {
        display: none;
    }
    footer .container {
        justify-content: left;
    }
    .footmenu_l {
        width: 100%;
        justify-content: left;
    }
    footer .logo {
        display: none;
    }
    footer .wrap {
        width: 100%;
        padding: 0;
    }
    footer .footmenu_r {
        display: none;
    }
}
@media screen and (max-width: 412px) {
    header .menu #minimenu {
        display: block;
    }
    .menu > ul {
        justify-content: space-between;
    }

    .third h2,
    .fourth h2 {
        margin-bottom: 1rem;
    }
    h1.title {
        font-size: 4.8rem;
    }
    .swiper2 {
        height: 40rem;
    }
    .swiper2 > .swiper-wrapper > .swiper-slide {
        padding: 0 1.8rem;
    }
    .third > .wrap,
    .fourth > .wrap {
        padding: 0 1.8rem;
    }

    section.fifth {
        padding-bottom: 32px;
    }
    section.fifth .frame {
        padding: 1.8rem;
    }
    section.fifth .frame .square__wrap .square {
        height: 16.6rem;
    }

    section.sixth .hover {
        margin: 3.2rem auto;
        padding: 1.8rem;
    }
    section.seventh > .container {
        padding: 0 1.8rem;
    }

    footer .container {
        justify-content: left;
    }
    .footmenu_l {
        width: 100%;
        justify-content: left;
    }
    footer .logo {
        display: none;
    }
    footer .wrap {
        width: 100%;
        padding: 0;
    }
    footer .footmenu_r {
        display: none;
    }
}
