* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Pretendard', 'Montserrat', '나눔고딕', sans-serif;
    font-size: 18px;
    width: 100vw;
}
div.wrap {
    height: 100%;
    margin: 0 72px;
}

// 파랑 152692 흰색 F9F8F7 노랑 FFC908
// 헤더입니다.
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Montserrat';
    z-index: 999;
    a {
        color: #fff;
    }
    .gnb {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lnb {
        display: flex;
    }
    .lnb > li {
        padding: 20px 10px;
    }
    .triangle {
        width: 0px;
        height: 0px;
        border-top: 9px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        transition: 0.2s;
    }
    .lnb > li:nth-child(2) {
        position: relative;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .lnb > li:nth-child(2) .lnbm {
        position: absolute;
        top: 70%;
        text-align: center;
        left: 0;
        transition: 0.1s;
        visibility: hidden;
    }
    .lnb > li:nth-child(2) .lnbm a {
        display: block;
        padding: 10px 0;
    }
    .lnb > li:nth-child(2):hover .lnbm,
    .lnb > li:nth-child(2) .lnbm:hover {
        visibility: visible;
        top: 90%;
    }
    .lnb > li:nth-child(2):hover ul.triangle,
    .lnb > li:nth-child(2) .lnbm:hover ul.triangle {
        transform: rotate(180deg);
    }
}
// 메인입니다
main {
    section:nth-child(1) {
        position: relative;
        width: 100%;
        height: 1024px;
        background: #152692;
        margin: 0 auto;
        ul {
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
            margin: 0 auto;
            li {
                position: absolute;
                display: inline-block;
                border: 1px solid #000;
                font-family: 'Montserrat';
                font-size: 164px;
                font-weight: bold;
                letter-spacing: -0.0375em;
                color: #fff;
            }
            li:nth-child(2) {
                position: absolute;
                top: 50%;
                left: 0;
            }
        }
        div {
            position: absolute;
            top: 45%;
            right: 0;
        }
    }
}
