* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body,
html {
    font-family: 'Pretendard', 'Montserrat', 'Montagu Slab', '나눔고딕', sans-serif;
    width: 100%;
    height: 100%;
    background: #f9f8f7;
    overflow-x: hidden;
}
div.wrap {
    height: 100%;
    margin: 0 72px;
}

// 파랑 152692 흰색 F9F8F7 노랑 FFC908
// 헤더입니다.

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    margin: 0 auto;
    color: #152692;
    font-family: 'Montserrat';
    font-size: 18px;
    z-index: 999;
    a {
        color: #152692;
    }
    .gnb {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lnb {
        display: flex;
    }
    .lnb > li {
        padding: 20px 10px;
        cursor: pointer;
    }
    .triangle {
        width: 0px;
        height: 0px;
        border-top: 9px solid #152692;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        transition: 0.2s;
    }
    .lnb > li:nth-child(2) {
        position: relative;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .lnb > li:nth-child(2) .lnbm {
        position: absolute;
        top: 70%;
        text-align: center;
        left: 0;
        transition: 0.1s;
        visibility: hidden;
    }
    .lnb > li:nth-child(2) .lnbm a {
        display: block;
        padding: 10px 0;
    }
    .lnb > li:nth-child(2):hover .lnbm,
    .lnb > li:nth-child(2) .lnbm:hover {
        visibility: visible;
        top: 90%;
    }
    .lnb > li:nth-child(2):hover ul.triangle,
    .lnb > li:nth-child(2) .lnbm:hover ul.triangle {
        transform: rotate(180deg);
    }
}
// 메인입니다
section {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #000;
    overflow: hidden;
}
div.container {
    width: 100%;
    height: 100%;
    padding: 120px 120px;
}
main {
    section:nth-child(1):has(.container > ul:hover) {
        background: #152692;
    }
    //섹션1입니다
    section:nth-child(1) {
        height: 1024px;
        position: relative;
        background: #f9f8f7;
        transform: translateX(0%);
        transition: 0.5s;
        div.container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        ul.change {
            position: relative;
            width: 100%;

            li {
                transition: 0.5s;
            }
            li:nth-child(1) {
                color: #152692;
            }
            li:nth-child(1),
            li:nth-child(2) {
                width: 100%;
                height: 100%;
                line-height: 160px;

                transform: translateX(0%);
                h1 {
                    display: block;
                    font-family: 'Montserrat';
                    font-size: 164px;
                    font-weight: bold;
                    letter-spacing: -0.0375em;
                }
            }
            li:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
                color: #f9f8f7;
                transform: translateX(130%);
            }
            li:nth-child(3) {
                position: absolute;
                width: 270px;
                height: 270px;
                left: 0;
                bottom: 0;
                transform: translateX(0%);
                transition: 0.5s;
                opacity: 0;
                z-index: -1;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        ul.change:hover li:nth-child(1) {
            transform: translateX(-130%);
        }
        ul.change:hover li:nth-child(2) {
            display: block;
            transform: translateX(0%);
        }
        ul.change:hover li:nth-child(3) {
            left: 70%;
            opacity: 1;
        }
        .scroll-down {
            position: absolute;
            bottom: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .scroll {
                width: 2.5rem;
                height: 4rem;
                border: 2px solid #152692;
                border-radius: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .scroll span {
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background: #152692;
                display: block;
                animation: cursor 1.15s linear infinite;
            }

            .arrow-down {
                width: 0.7rem;
                height: 0.7rem;
                border: 2px solid transparent;
                border-right-color: #152692;
                border-bottom-color: #152692;
                transform: rotate(45deg);
                margin-top: 0.3rem;
                animation: arrow 1.15s linear infinite;
            }
        }
        @keyframes cursor {
            0% {
                opacity: 0;
                transform: translateY(-1rem);
            }

            100% {
                opacity: 1;
                transform: translateY(1rem);
            }
        }

        @keyframes arrow {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 0.25;
            }
            50% {
                opacity: 0.5;
            }
            75% {
                opacity: 0.75;
            }

            100% {
                opacity: 1;
            }
        }
    }

    section:nth-child(2) {
        font-size: 18px;
        height: 1024px;
        div.container {
            border: 1px solid #000;
        }
        div.container > ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 120px;
            > li {
                flex: 1 1 30% 70%;
            }
            li.circle {
                position: relative;
                width: 419px;
                height: 419px;
                background: #ffc908;
                border-radius: 100%;
                h1 {
                    position: absolute;
                    top: 0;
                    right: -10%;
                    font-family: 'MontaguSlab';
                    font-size: 48px;
                    text-align: right;
                }
            }
            li.circle > div:nth-child(1) {
                width: 88%;
                height: 88%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: url(../images/photo_1.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            li.circle > div:nth-child(2) {
                width: 88%;
                height: 88%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-46%, -51%);
                background: url(../images/photo_2.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0;
            }
            li.circle:hover > div:nth-child(1) {
                opacity: 0;
            }
            li.circle:hover > div:nth-child(2) {
                opacity: 1;
            }
            ul.txt {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 40px;
                ul > li {
                    padding-bottom: 20px;
                }
                li.btn {
                    button {
                        font-size: 18px;
                        background: #000;
                        color: #fff;
                        padding: 10px 20px;
                        border-radius: 999px;
                        border: none;
                        margin-bottom: 12px;
                        line-height: 30px;
                    }
                    button:hover {
                    }
                }
            }
        }
    }
    section:nth-child(3),
    section:nth-child(4) {
        width: 100%;
        height: 100%;
        div.container {
            height: 100%;
            text-align: center;
            color: #152692;
            div {
                margin-bottom: 120px;
                h1 {
                    font-family: 'Montserrat';
                    font-size: 96px;
                    font-weight: bold;
                }
                p {
                    font-family: 'Montserrat';
                    font-size: 18px;
                }
            }
            ul.box {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 120px;
                gap: 2px;
            }
            .box li {
                position: relative;
                flex: 1 1 30%;
                height: auto;
                overflow: hidden;
                background: #d9d9d9;
            }
            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .box > li > ul > li:nth-child(2) {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                display: none;
            }

            .box > li:hover > ul > li:nth-child(2) {
                display: block;
            }

            button {
                font-size: 18px;
                background: #000;
                color: #fff;
                padding: 10px 20px;
                border-radius: 999px;
                border: none;
            }
        }
    }
    section:nth-child(5) {
        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        div.container {
            width: 100%;
            height: 100%;
            display: flex;
            flex: 1 1 50%;
            gap: 78px;
            > div {
                border: 1px solid #000;
            }
            div.left {
                position: relative;
                width: 100%;
                > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            div.right {
                div.name {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 40px;
                    h2 {
                        font-size: 18px;
                    }

                    > div {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        > span {
                            background: #000;
                            border-radius: 999px;
                            color: #fff;
                            padding: 5px 15px;
                            font-family: 'Montserrat';
                            font-size: 12px;
                        }
                        > p {
                            font-family: 'Montserrat';
                            font-size: 18px;
                        }
                    }
                }
                div.ex {
                    p {
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
div#bl {
    height: 20000px;
}
