@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Pretendard', '맑은고딕', sans-serif;
}

/* 기본셋팅 end */
.material-symbols-outlined {
    font-size: 20px;
}
.flex {
    display: flex;
}
header > nav {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    /* border-bottom: 1px solid rgba(0, 0, 0, 20%); */
    z-index: 999;
}
header .main-menu {
    width: 1280px;
    height: 100%;
    display: flex;
    margin: 0 auto;
}
header .main-menu .main-menu-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
header .main-menu::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 20%);
}

header .main-menu .main-menu-wrap {
    display: flex;
}
header .main-menu .item .item__name a {
    display: block;
    padding: 0 20px;
    line-height: 60px;
    font-size: 16px;
}
header .main-menu .item:hover .item__name a {
    /* background-color: #2c2a29; */
    color: #669900;
    /* border-radius: 6px 6px 0 0; */
    border-bottom: 3px solid #2c2a29;
}

header .main-menu .item .item__contents {
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}

header .main-menu .item:hover .item__contents {
    display: block;
}

header .main-menu .item .item__contents .contents__menu {
    background-color: rgba(250, 250, 250, 100%);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 20%);
}

header .main-menu .item .item__contents .contents__menu > ul {
    display: flex;
    padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 200px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul > li > ul {
    padding: 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    padding: 5px 0;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
    color: #669900;
}
.logo {
    width: 60px;
    height: 60px;
    /* position: absolute; */
    left: 30px;
    top: 0;
}
.logo img {
    max-height: 100%;
    width: auto;
}
.sub__item {
    position: relative;
    /* right: 30px; */
    top: 0;
}
.sub__item > ul {
    display: flex;
}
.sub__item > ul > li > a {
    /* display: block; */
    line-height: 60px;
    padding: 0 5px;
    font-size: 14px;
    align-items: center;
}

.material-symbols-outlined {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
/* header nav end */
section.zero .contents {
    width: 1280px;
    height: 640px;
    margin: 0 auto;
}
section.zero .contents .container {
    display: flex;
}
section.zero .contents span {
    font-size: 14px;
}
section.zero .contents .left {
    width: 628px;
    height: 640px;
    background: #f1f1f1;
    position: relative;
}
section.zero .contents .left img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    height: auto;
}
section.zero .contents .right {
    width: 652px;
    height: 640px;
    background: #fff;
}
section.zero .contents .right > ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 0 30px 0 24px;
    gap: 54px;
    justify-content: center;
}
section.zero .contents .right .maintitle {
    flex-direction: column;
    gap: 20px;
}
section.zero .contents .right .check ul {
    flex-direction: column;
    gap: 10px;
}
section.zero .contents .right .check ul li:nth-child(2) span {
    margin-right: 10px;
}
section.zero .contents .right .btn ul {
    gap: 24px;
}
section.zero .contents .right .btn ul li a {
    display: block;
    background: #2d2d2d;
    color: #fff;
    padding: 15px 53px;
}
/* head contents end */
main section.first {
    width: 1280px;
    height: 600px;
    margin: 0 auto;
}
main section.first .container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
main section.first .container .text ul {
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}
main section.first .container .recommend {
    justify-content: space-between;
}
main section.first .container .recommend > ul {
    width: 287px;
    height: 368px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
main section.first .container .recommend > ul li.photo {
    position: relative;
    width: 287px;
    height: 250px;
    background: #fafafa;
}
main section.first .container .recommend > ul li.photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
}
main section.first .container .recommend > ul .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* section first end */
section.second .container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: url(./images/second/photo10.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    max-width: auto;
    position: relative;
}
section.second .container {
    font-size: 64px;
    font-weight: 600;
    color: #2c2a29;
}
section.second .container p:first-child {
    position: absolute;
    top: 80px;
    left: 30px;
}
section.second .container p:nth-child(2) {
    position: absolute;
    bottom: 80px;
    right: 30px;
}
/* section second end */
section.third {
    width: 1280px;
    height: 900px;
    margin: 0 auto;
    align-items: center;
}

section.third .container > div {
    width: 629px;
    height: 800px;
}
section.third .container .left video {
    object-fit: cover;
}
section.third .container .right {
    justify-content: center;
    align-items: center;
}
section.third .container .right ul {
    flex-direction: column;
    gap: 20px;
}
section.third .container .right ul > li > p {
    margin-top: 10px;
}
/* section third end */
section.fourth .container {
    border-top: 10px solid #f1f1f1;
    border-bottom: 10px solid #f1f1f1;
    box-sizing: border-box;
}
section.fourth .container > .review_menu {
    width: 100%;
    height: 80px;
    border-bottom: 3px solid #f1f1f1;
    box-sizing: border-box;
}
section.fourth .container > .review_menu > ul {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
section.fourth .container > .review_menu > ul > li {
    width: 50%;
    height: 100%;
}
section.fourth .container > .review_menu > ul > li > a {
    display: block;
    height: 100%;
    text-align: center;
    line-height: 67px;
}
/* review_menu end */
.review_summary {
    width: 1280px;
    height: 180px;
    margin: 0 auto;
}
.review_summary .wrap {
    padding: 0 30px;
    height: 180px;
    justify-content: space-between;
    align-items: center;
}
.review_summary .wrap > .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.review_summary .wrap > .left > li:first-child {
    display: flex;
    align-items: center;
}
.review_summary .wrap > .left > li:first-child > h1:first-child {
    font-size: 26px;
    color: #303e33;
}
.review_summary .wrap > .left > li:first-child > h1:nth-child(2) {
    font-size: 32px;
}
.review_summary .wrap > .left > li:nth-child(2) > p {
    font-size: 14px;
}
/* review_summary end left */
.review_summary .wrap > .right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    width: 1116px;
    height: 70px;
    text-align: center;
}
/* review_summary end right*/
/* section fourth end */
section.fifth .container {
    width: 100%;
    border-bottom: 3px solid #f1f1f1;
}
section.fifth .container:nth-child(3) {
    margin-bottom: 200px;
}
.review_coments .square2 {
    gap: 5px;
}
.review_coments {
    width: 1280px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.review_coments > .wrap {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review_coments .profil {
    display: flex;
    gap: 10px;
}
.review_coments .profil .circle {
    width: 34px;
    height: 34px;
    border-radius: 99%;
    overflow: hidden;
}
.review_coments .profil .circle > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.review_coments .profil > li:nth-child(2) > p {
    font-weight: 500;
}
.review_coments .profil > li:nth-child(2) > p:nth-child(2) {
    color: #555;
}
/* section fifth profil end */
.review_coments .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review_coments .text > p:first-child {
    color: #303e33;
}

/* section fifth text end */
.review_coments .square {
    width: 311px;
    height: 311px;
    overflow: hidden;
}
.review_coments .square img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* section fifth square end */
footer > .foot_menu {
    width: 100%;
    background: #cdc6ac;
}
footer > .foot_menu > .container {
    width: 1280px;
    height: 60px;
    margin: 0 auto;
}
footer > .foot_menu > .container > ul {
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-left: 30px;
}
footer > .foot_menu > .container > ul > li > a {
    display: block;
    font-size: 13px;
}

/* foot_menu end */
footer .foot_info {
    width: 100%;
    background: #2d2d2d;
}
footer .foot_info .wrap {
    width: 1280px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer .foot_info .container {
    padding-left: 30px;
}
footer .foot_info .container ul li p {
    color: #fff;
    opacity: 80%;
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
}
/* foot_info end */
/* footer end */
