@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body,
html {
  font-family: "Pretendard", "Montserrat", "Montagu Slab", "나눔고딕", sans-serif;
  width: 100%;
  height: auto;
  background: #f9f8f7;
  overflow-x: hidden;
}

div.wrap {
  height: 100%;
  margin: 0 72px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  color: #152692;
  font-family: "Montserrat";
  font-size: 18px;
  z-index: 999;
}
header a {
  color: #152692;
}
header .gnb {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .lnb {
  display: flex;
}
header .lnb > li {
  padding: 20px 10px;
  cursor: pointer;
}
header .triangle {
  width: 0px;
  height: 0px;
  border-top: 9px solid #152692;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transition: 0.2s;
}
header .lnb > li:nth-child(2) {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}
header .lnb > li:nth-child(2) .lnbm {
  position: absolute;
  top: 70%;
  text-align: center;
  left: 0;
  transition: 0.1s;
  visibility: hidden;
}
header .lnb > li:nth-child(2) .lnbm a {
  display: block;
  padding: 10px 0;
}
header .lnb > li:nth-child(2):hover .lnbm,
header .lnb > li:nth-child(2) .lnbm:hover {
  visibility: visible;
  top: 90%;
}
header .lnb > li:nth-child(2):hover ul.triangle,
header .lnb > li:nth-child(2) .lnbm:hover ul.triangle {
  transform: rotate(180deg);
}

section {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  overflow: hidden;
}

div.container {
  width: 100%;
  height: 100%;
  padding: 120px 120px;
}

main section#intro:has(.container > ul:hover) {
  background: #152692;
}
main section#intro {
  height: 1024px;
  position: relative;
  background: #f9f8f7;
  transform: translateX(0%);
  transition: 0.5s;
}
main section#intro div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section#intro ul.change {
  position: relative;
  width: 100%;
}
main section#intro ul.change li {
  transition: 0.5s;
}
main section#intro ul.change li:nth-child(1) {
  color: #152692;
}
main section#intro ul.change li:nth-child(1),
main section#intro ul.change li:nth-child(2) {
  width: 100%;
  height: 100%;
  line-height: 160px;
  transform: translateX(0%);
}
main section#intro ul.change li:nth-child(1) h1,
main section#intro ul.change li:nth-child(2) h1 {
  display: block;
  font-family: "Montserrat";
  font-size: 164px;
  font-weight: bold;
  letter-spacing: -0.0375em;
}
main section#intro ul.change li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #f9f8f7;
  transform: translateX(130%);
}
main section#intro ul.change li:nth-child(3) {
  position: absolute;
  width: 270px;
  height: 270px;
  left: 0;
  bottom: 0;
  transform: translateX(0%);
  transition: 0.5s;
  opacity: 0;
  z-index: -1;
}
main section#intro ul.change img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main section#intro ul.change:hover li:nth-child(1) {
  transform: translateX(-130%);
}
main section#intro ul.change:hover li:nth-child(2) {
  display: block;
  transform: translateX(0%);
}
main section#intro ul.change:hover li:nth-child(3) {
  left: 70%;
  opacity: 1;
}
main section#intro .scroll-down {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#intro .scroll-down .scroll {
  width: 2.5rem;
  height: 4rem;
  border: 2px solid #152692;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#intro .scroll-down .scroll span {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #152692;
  display: block;
  -webkit-animation: cursor 1.15s linear infinite;
          animation: cursor 1.15s linear infinite;
}
main section#intro .scroll-down .arrow-down {
  width: 0.7rem;
  height: 0.7rem;
  border: 2px solid transparent;
  border-right-color: #152692;
  border-bottom-color: #152692;
  transform: rotate(45deg);
  margin-top: 0.3rem;
  -webkit-animation: arrow 1.15s linear infinite;
          animation: arrow 1.15s linear infinite;
}
@-webkit-keyframes cursor {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
main section#aboutme {
  font-size: 18px;
  height: 1024px;
}
main section#aboutme div.container {
  border: 1px solid #000;
}
main section#aboutme div.container > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
main section#aboutme div.container > ul > li {
  flex: 1 1 30% 70%;
}
main section#aboutme div.container > ul li.circle {
  position: relative;
  width: 419px;
  height: 419px;
  background: #ffc908;
  border-radius: 100%;
}
main section#aboutme div.container > ul li.circle h1 {
  position: absolute;
  top: 0;
  right: -10%;
  font-family: "MontaguSlab";
  font-size: 48px;
  text-align: right;
}
main section#aboutme div.container > ul li.circle > div:nth-child(1) {
  width: 88%;
  height: 88%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background: url(../images/photo_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main section#aboutme div.container > ul li.circle > div:nth-child(2) {
  width: 87%;
  height: 87%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -53%);
  background: url(../images/photo_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: 0.5s;
}
main section#aboutme div.container > ul li.circle:hover > div:nth-child(1) {
  display: none;
}
main section#aboutme div.container > ul li.circle:hover > div:nth-child(2) {
  opacity: 1;
}
main section#aboutme div.container > ul ul.txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
main section#aboutme div.container > ul ul.txt ul > li {
  padding-bottom: 20px;
}
main section#aboutme div.container > ul ul.txt li.btn {
  display: flex;
  gap: 12px;
}
main section#aboutme div.container > ul ul.txt li.btn button {
  font-size: 18px;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  line-height: 30px;
  cursor: pointer;
}
main section#aboutme div.container > ul ul.txt li.btn button span {
  display: inline-block;
  line-height: 10px;
}
main section#aboutme div.container > ul ul.txt li.btn button:hover {
  background: #152692;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
main section#aboutme div.container > ul ul.txt li.btn button:hover > span {
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes move {
  0% {
    transform: rotate(0);
    scale: 1;
  }
  30% {
    transform: rotate(15deg);
    scale: 1.3;
  }
  100% {
    transform: rotate(0);
    scale: 1;
  }
}
@keyframes move {
  0% {
    transform: rotate(0);
    scale: 1;
  }
  30% {
    transform: rotate(15deg);
    scale: 1.3;
  }
  100% {
    transform: rotate(0);
    scale: 1;
  }
}
main .modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /*
   Fallback color */
}
main .modal .modal-content {
  overflow: hidden;
  position: relative;
  background-color: #fefefe;
  margin: 120px auto;
  width: 85%;
  height: 90%;
  border-radius: 30px 30px 0 0;
  text-align: center;
  padding: 20px;
}
main .modal .modal-content h1 {
  line-height: 70px;
}
main .modal .modal-content > div.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: #152692;
  padding: 10px;
  margin: 20px;
  border-radius: 50%;
}
main .modal .modal-content > div.close > span {
  color: #fff;
}
main .modal .modal-content > div.close > span > span {
  display: block;
  width: 25px;
  height: 5px;
  background: #fff;
  margin: 5px 0;
  transition: transform 0.2s ease-in;
  border-radius: 3px;
}
main .modal .modal-content > div.close > span .bar1 {
  transform: translate(0, 5px) rotate(45deg);
}
main .modal .modal-content > div.close > span .bar2 {
  transform: translate(0, -5px) rotate(-45deg);
}
main .modal .modal-content > div.close > div:hover .bar1 {
  transform: translate(0, 5px) rotate(-50deg);
}
main .modal .modal-content > div.close > div:hover .bar2 {
  transform: translate(0, -5px) rotate(-135deg);
}
main .modal .modal-content > div.labels label > input {
  accent-color: #152692;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #999;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  transition: background 0.2s;
}
main .modal .modal-content > div.labels input[type=checkbox]:checked {
  background: gold;
  border: none;
}
main .modal .modal-content > div.photo {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
main .modal .modal-content > div.photo > img {
  position: absolute;
  width: 20%;
  height: auto;
  filter: hue-rotate(-20deg);
}
main .modal .modal-content > div.photo > img:nth-child(1) {
  bottom: 0;
  left: 0;
}
main .modal .modal-content > div.photo > img:nth-child(2) {
  top: 30%;
  left: 10%;
}
main .modal .modal-content > div.photo > img:nth-child(3) {
  top: 20%;
  left: 20%;
}
main .modal .modal-content > div.photo > img:nth-child(4) {
  top: 30%;
  right: 30%;
}
main .modal .modal-content > div.photo > img:nth-child(5) {
  top: 40%;
  right: 10%;
}
main .modal .modal-content > div.photo > img:nth-child(6) {
  top: 0%;
  right: 20%;
}
main .modal .modal-content > div.photo > img:nth-child(7) {
  top: 20%;
  right: 0;
}
main section#web,
main section#contents {
  width: 100%;
  height: 100%;
}
main section#web div.container,
main section#contents div.container {
  height: 100%;
  text-align: center;
  color: #152692;
}
main section#web div.container div,
main section#contents div.container div {
  margin-bottom: 120px;
}
main section#web div.container div h1,
main section#contents div.container div h1 {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 96px;
  font-weight: bold;
  text-align: center;
}
main section#web div.container div p,
main section#contents div.container div p {
  font-family: "Montserrat";
  font-size: 18px;
}
main section#web div.container ul.box,
main section#contents div.container ul.box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
  gap: 2px;
}
main section#web div.container .box li,
main section#contents div.container .box li {
  position: relative;
  flex: 1 1 30%;
  height: auto;
  overflow: hidden;
  background: #d9d9d9;
}
main section#web div.container img,
main section#contents div.container img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section#web div.container .box > li > ul > li:nth-child(2),
main section#contents div.container .box > li > ul > li:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}
main section#web div.container .box > li:hover > ul > li:nth-child(2),
main section#contents div.container .box > li:hover > ul > li:nth-child(2) {
  display: block;
}
main section#web div.container button,
main section#contents div.container button {
  font-size: 18px;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
}
main section#web div.container button:hover,
main section#contents div.container button:hover {
  background: #152692;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
main section#works img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
main section#works div.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 50%;
  gap: 78px;
}
main section#works div.container > div {
  border: 1px solid #000;
}
main section#works div.container div.left {
  position: relative;
  width: 100%;
}
main section#works div.container div.left > img {
  position: absolute;
  top: 0;
  left: 0;
}
main section#works div.container div.right div.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
main section#works div.container div.right div.name h2 {
  font-size: 18px;
}
main section#works div.container div.right div.name > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
main section#works div.container div.right div.name > div > span {
  background: #000;
  border-radius: 999px;
  color: #fff;
  padding: 5px 15px;
  font-family: "Montserrat";
  font-size: 12px;
}
main section#works div.container div.right div.name > div span:hover {
  background: #152692;
}
main section#works div.container div.right div.name > div > p {
  font-family: "Montserrat";
  font-size: 18px;
}
main section#works div.container div.right div.ex p {
  padding-bottom: 20px;
}

footer {
  width: 100%;
  text-align: center;
}
footer p {
  font-size: 12px;
  margin-bottom: 40px;
}