@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body,
html {
  font-family: "Pretendard", "Montserrat", "Montagu Slab", "나눔고딕", sans-serif;
  width: 100%;
  height: 100%;
  background: #f9f8f7;
  overflow-x: hidden;
}

div.wrap {
  height: 100%;
  margin: 0 72px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  color: #152692;
  font-family: "Montserrat";
  font-size: 18px;
  z-index: 999;
}
header a {
  color: #152692;
}
header .gnb {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .lnb {
  display: flex;
}
header .lnb > li {
  padding: 20px 10px;
  cursor: pointer;
}
header .triangle {
  width: 0px;
  height: 0px;
  border-top: 9px solid #152692;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transition: 0.2s;
}
header .lnb > li:nth-child(2) {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}
header .lnb > li:nth-child(2) .lnbm {
  position: absolute;
  top: 70%;
  text-align: center;
  left: 0;
  transition: 0.1s;
  visibility: hidden;
}
header .lnb > li:nth-child(2) .lnbm a {
  display: block;
  padding: 10px 0;
}
header .lnb > li:nth-child(2):hover .lnbm,
header .lnb > li:nth-child(2) .lnbm:hover {
  visibility: visible;
  top: 90%;
}
header .lnb > li:nth-child(2):hover ul.triangle,
header .lnb > li:nth-child(2) .lnbm:hover ul.triangle {
  transform: rotate(180deg);
}

section {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000;
  overflow: hidden;
}

div.container {
  width: 100%;
  height: 100%;
  padding: 120px 120px;
}

main section:nth-child(1):has(.container > ul:hover) {
  background: #152692;
}
main section:nth-child(1) {
  height: 1024px;
  position: relative;
  background: #f9f8f7;
  transform: translateX(0%);
  transition: 0.5s;
}
main section:nth-child(1) div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section:nth-child(1) ul.change {
  position: relative;
  width: 100%;
}
main section:nth-child(1) ul.change li {
  transition: 0.5s;
}
main section:nth-child(1) ul.change li:nth-child(1) {
  color: #152692;
}
main section:nth-child(1) ul.change li:nth-child(1),
main section:nth-child(1) ul.change li:nth-child(2) {
  width: 100%;
  height: 100%;
  line-height: 160px;
  transform: translateX(0%);
}
main section:nth-child(1) ul.change li:nth-child(1) h1,
main section:nth-child(1) ul.change li:nth-child(2) h1 {
  display: block;
  font-family: "Montserrat";
  font-size: 164px;
  font-weight: bold;
  letter-spacing: -0.0375em;
}
main section:nth-child(1) ul.change li:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #f9f8f7;
  transform: translateX(130%);
}
main section:nth-child(1) ul.change li:nth-child(3) {
  position: absolute;
  width: 270px;
  height: 270px;
  left: 0;
  bottom: 0;
  transform: translateX(0%);
  transition: 0.5s;
  opacity: 0;
  z-index: -1;
}
main section:nth-child(1) ul.change img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main section:nth-child(1) ul.change:hover li:nth-child(1) {
  transform: translateX(-130%);
}
main section:nth-child(1) ul.change:hover li:nth-child(2) {
  display: block;
  transform: translateX(0%);
}
main section:nth-child(1) ul.change:hover li:nth-child(3) {
  left: 70%;
  opacity: 1;
}
main section:nth-child(1) .scroll-down {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section:nth-child(1) .scroll-down .scroll {
  width: 2.5rem;
  height: 4rem;
  border: 2px solid #152692;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section:nth-child(1) .scroll-down .scroll span {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #152692;
  display: block;
  -webkit-animation: cursor 1.15s linear infinite;
          animation: cursor 1.15s linear infinite;
}
main section:nth-child(1) .scroll-down .arrow-down {
  width: 0.7rem;
  height: 0.7rem;
  border: 2px solid transparent;
  border-right-color: #152692;
  border-bottom-color: #152692;
  transform: rotate(45deg);
  margin-top: 0.3rem;
  -webkit-animation: arrow 1.15s linear infinite;
          animation: arrow 1.15s linear infinite;
}
@-webkit-keyframes cursor {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
@keyframes cursor {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
main section:nth-child(2) {
  font-size: 18px;
  height: 1024px;
}
main section:nth-child(2) div.container {
  border: 1px solid #000;
}
main section:nth-child(2) div.container > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
main section:nth-child(2) div.container > ul > li {
  flex: 1 1 30% 70%;
}
main section:nth-child(2) div.container > ul li.circle {
  position: relative;
  width: 419px;
  height: 419px;
  background: #ffc908;
  border-radius: 100%;
}
main section:nth-child(2) div.container > ul li.circle h1 {
  position: absolute;
  top: 0;
  right: -10%;
  font-family: "MontaguSlab";
  font-size: 48px;
  text-align: right;
}
main section:nth-child(2) div.container > ul li.circle > div:nth-child(1) {
  width: 88%;
  height: 88%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/photo_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main section:nth-child(2) div.container > ul li.circle > div:nth-child(2) {
  width: 88%;
  height: 88%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -51%);
  background: url(../images/photo_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
}
main section:nth-child(2) div.container > ul li.circle:hover > div:nth-child(1) {
  opacity: 0;
}
main section:nth-child(2) div.container > ul li.circle:hover > div:nth-child(2) {
  opacity: 1;
}
main section:nth-child(2) div.container > ul ul.txt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
main section:nth-child(2) div.container > ul ul.txt ul > li {
  padding-bottom: 20px;
}
main section:nth-child(2) div.container > ul ul.txt li.btn button {
  font-size: 18px;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  margin-bottom: 12px;
  line-height: 30px;
}
main section:nth-child(3),
main section:nth-child(4) {
  width: 100%;
  height: 100%;
}
main section:nth-child(3) div.container,
main section:nth-child(4) div.container {
  height: 100%;
  text-align: center;
  color: #152692;
}
main section:nth-child(3) div.container div,
main section:nth-child(4) div.container div {
  margin-bottom: 120px;
}
main section:nth-child(3) div.container div h1,
main section:nth-child(4) div.container div h1 {
  font-family: "Montserrat";
  font-size: 96px;
  font-weight: bold;
}
main section:nth-child(3) div.container div p,
main section:nth-child(4) div.container div p {
  font-family: "Montserrat";
  font-size: 18px;
}
main section:nth-child(3) div.container ul.box,
main section:nth-child(4) div.container ul.box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
  gap: 2px;
}
main section:nth-child(3) div.container .box li,
main section:nth-child(4) div.container .box li {
  position: relative;
  flex: 1 1 30%;
  height: auto;
  overflow: hidden;
  background: #d9d9d9;
}
main section:nth-child(3) div.container img,
main section:nth-child(4) div.container img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section:nth-child(3) div.container .box > li > ul > li:nth-child(2),
main section:nth-child(4) div.container .box > li > ul > li:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}
main section:nth-child(3) div.container .box > li:hover > ul > li:nth-child(2),
main section:nth-child(4) div.container .box > li:hover > ul > li:nth-child(2) {
  display: block;
}
main section:nth-child(3) div.container button,
main section:nth-child(4) div.container button {
  font-size: 18px;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
}
main section:nth-child(5) img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
main section:nth-child(5) div.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 50%;
  gap: 78px;
}
main section:nth-child(5) div.container > div {
  border: 1px solid #000;
}
main section:nth-child(5) div.container div.left {
  position: relative;
  width: 100%;
}
main section:nth-child(5) div.container div.left > img {
  position: absolute;
  top: 0;
  left: 0;
}
main section:nth-child(5) div.container div.right div.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
main section:nth-child(5) div.container div.right div.name h2 {
  font-size: 18px;
}
main section:nth-child(5) div.container div.right div.name > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
main section:nth-child(5) div.container div.right div.name > div > span {
  background: #000;
  border-radius: 999px;
  color: #fff;
  padding: 5px 15px;
  font-family: "Montserrat";
  font-size: 12px;
}
main section:nth-child(5) div.container div.right div.name > div > p {
  font-family: "Montserrat";
  font-size: 18px;
}
main section:nth-child(5) div.container div.right div.ex p {
  padding-bottom: 20px;
}

div#bl {
  height: 20000px;
}