@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "OpenSans", "notosans", "나눔고딕";
  letter-spacing: -0.05rem;
  line-height: 1.3;
  background: #000;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 888;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0 2rem;
}
header a {
  color: #fff;
}
header a:hover {
  text-decoration: underline;
}
header > h1 {
  text-indent: -9999px;
  width: 141.5577889447px;
  height: 45px;
  background: url(../images/logo_w.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
header .gnb {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
}
header .gnb a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  line-height: 100px;
}
header .snsSet {
  display: flex;
}
header .snsSet a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  line-height: 100px;
  margin-top: 10px;
}
header .snsSet li:nth-of-type(1) a {
  display: block;
}
header .snsSet li:nth-of-type(2) a {
  display: none;
}

#wrap {
  width: 100%;
  margin: 0 auto;
}
#wrap > div:not(:first-of-type) {
  margin-bottom: 15.625em;
}

.top {
  position: relative;
  width: 100%;
  height: 1300px;
  background: url(../images/space.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.top h1 {
  color: #fff;
  text-align: center;
  font-size: 5.5rem;
  line-height: 1.2;
  font-weight: normal;
}
.top h1 strong {
  font-size: 6rem;
}

.top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 350px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  bottom: 0;
  left: 0;
}

.tittle {
  display: block;
  font-size: 4rem;
}

.content {
  display: flex;
  height: 100%;
  background: #000;
  padding: 0 2rem;
  gap: 0 2rem;
}
.content > .left {
  width: 50vw;
  max-height: 100%;
}
.content > .left > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}
.content > .right {
  width: 50vw;
  height: 100%;
}
.content > .right div.text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 27px;
  color: #fff;
}
.content > .right div.text .line {
  letter-spacing: 0.3rem;
  font-weight: bold;
  color: #fbd784;
}
.content > .right div.text > p {
  line-height: 32px;
}

.line::before {
  content: "";
  display: block;
  float: left;
  width: 72px;
  border-top: 0.15rem solid #fbd784;
  margin: 0.5rem 0.5rem 0 0;
}

.arrow {
  font-weight: bold;
  color: #fbd784;
}

.arrow:after {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.5rem;
  border-top: 0.15rem solid #fbd784;
  border-right: 0.15rem solid #fbd784;
  transform: rotate(45deg);
}

.content2 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}
.content2 .text {
  width: 60%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 10;
  text-align: center;
}
.content2 .text p {
  display: block;
  margin-top: 39px;
  line-height: 32px;
}
.content2 .swiper-slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  bottom: 0;
  left: 0;
}
.content2 .swiper {
  position: relative;
  width: 100%;
  height: 800px;
}
.content2 .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content2 .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content2 .swiper .swiper-pagination {
  margin-bottom: 2rem;
  --swiper-theme-color: #fbd784;
}
.content2 .swiper .swiper-button-prev {
  margin: 0 2rem;
  width: 27px;
  height: 43px;
  background: url(../images/btns.png);
}
.content2 .swiper .swiper-button-next {
  margin: 0 2rem;
  width: 27px;
  height: 43px;
  background: url(../images/btns.png);
  background-position: -30px 0;
}

.content3 {
  flex-direction: row-reverse;
}
.content3 .left img:nth-of-type(1) {
  -o-object-position: center;
     object-position: center;
}

.footer {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  color: #fff;
}
.footer > div {
  width: 100%;
}
.footer > div > ul:nth-of-type(1) {
  display: flex;
  width: 100%;
  height: 125px;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.footer > div > ul:nth-of-type(1) h1 {
  text-indent: -9999px;
  width: 141.5577889447px;
  height: 45px;
  background: url(../images/logo_w.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footer > div > ul:nth-of-type(1) button {
  padding: 1rem 3.5rem;
  background: #ffa343;
  border: none;
  color: #000;
  margin-left: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
}
.footer > div ul:nth-of-type(2) {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 55px;
}
.footer > div ul:nth-of-type(2) li:nth-of-type(1) ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footer > div ul:nth-of-type(2) li:nth-of-type(1) ul h1 {
  font-size: 36px;
  font-weight: bold;
}
.footer > div ul:nth-of-type(2) li:nth-of-type(1) .search {
  position: relative;
  width: 300px;
  border-bottom: 1px solid #fff;
}
.footer > div ul:nth-of-type(2) li:nth-of-type(1) input {
  width: 100%;
  color: #fff;
  padding: 1.5rem;
  font-size: 15px;
  background: none;
  border: none;
  outline: none;
}
.footer > div ul:nth-of-type(2) li:nth-of-type(1) button {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 8px 8px 0 0;
  padding: 1.5rem 1.7rem;
  font-weight: bold;
  background: #ffa343;
}
.footer > div ul:nth-of-type(2) li:not(:nth-of-type(1)) ul {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 18px;
}

@media screen and (max-width: 1024px) {
  .top {
    height: 1000px;
  }
  .content2 .text > p {
    display: none;
  }
  .top > h1 {
    font-size: 4rem;
  }
  .top > h1 > strong {
    font-size: 5rem;
  }
  .line {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 900px) {
  .line {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 768px) {
  .tittle {
    font-size: 3.5rem;
  }
  .line::before {
    width: 40px;
  }
}
@media screen and (max-width: 700px) {
  .gnb li a {
    display: none;
  }
  .services > li:nth-of-type(3),
.services > li:nth-of-type(4) {
    display: none;
  }
  .tittle {
    font-size: 2rem;
  }
  .line::before {
    width: 20px;
  }
}
@media screen and (max-width: 650px) {
  .services > li:nth-of-type(5) {
    display: none;
  }
  .content {
    flex-direction: column;
  }
  .content .left {
    width: 100%;
  }
  .content .right {
    width: 100%;
  }
  .line::before {
    width: 72px;
  }
}
@media screen and (max-width: 550px) {
  .services > li:nth-of-type(2) {
    display: none;
  }
  .footer div ul li:nth-of-type(2) {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .top {
    height: 700px;
  }
  .top > h1 {
    font-size: 2rem;
  }
  .top > h1 > strong {
    font-size: 4rem;
  }
  .content2 {
    display: none;
  }
  .content {
    padding: 1rem;
  }
  .footer {
    padding: 1rem;
  }
  #wrap > div:not(:first-of-type) {
    margin-bottom: 7rem;
  }
}
@media screen and (max-width: 375px) {
  .top {
    height: 600px;
  }
  .top > h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .top {
    height: 500px;
  }
  .left {
    height: 400px;
  }
  .line::before {
    width: 100%;
    display: block;
    float: left;
    padding-bottom: 5px;
  }
}